@charset "utf-8";
/* CSS Document */

body {
    background-color: #111 !important;
}

.header {
    color: #e1e1e1 !important
}

/*Testing purposes */
canvas {
    border: 1px solid black;
}

body,
h1,
h2,
p,
a,
.text-dark {
    color: #f9f9f9 !important
}
a.text-dark:hover{
    color: #aaa !important
}
.nightshift {
    filter: invert(100);
}

.card,
.list-group-item,
table,
tr {
    background-color: #1d2124;
    border-color: #333
}

.list-group-item:hover {
    background-color: #222
}

.d-light {
    display: none;
}

.d-dark {
    display: initial;
}
