 @charset "utf-8";
 /* CSS Document */

 body {
     background-color: black;
 }

 /*Testing purposes */

 canvas {
     border: 1px solid black;
 }

 body, h1 {
     color: #f9f9f9;
 }

 .nightshift {
     filter: invert(100);
 }

 .card, .list-group-item, table, tr {
    background-color: #212529;
    border-color: #32383e
 }

 .table td, .table th, .table thead th {
     border-color: #32383e
 }

 .list-group-item:hover {
     background-color: #222
 }