@charset "utf-8";
@font-face {
  font-family: 'Boogaloo', sans-serif;
  src: url('../ttf/Boogaloo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../ttf/OpenSans-Regular.ttf') format('truetype');
}

:root {
  --main-red: #d50000;
  --main-pink: #c51162;
  --main-purple: #aa00ff;
  --main-deep-purple: #6200ea;
  --main-indigo: #304ffe;
  --main-blue: #2962ff;
  --main-light-blue: #0091ea;
  --main-cyan: #00b8d4;
  --main-teal: #00bfa5;
  --main-green: #00c853;
  --main-light-green: #64dd17;
  --main-lime: #aeea00;
  --main-yellow: #ffd600;
  --main-amber: #ffab00;
  --main-orange: #ff6d00;
  --main-deep-orange: #dd2c00;
  --main-brown: #3e2723;
  --main-gray: #212121;
  --main-blue-gray: #263238;
  --main-dark-gray: #4F5050;
  --main-light-gray: #707272;
  --main-background: #E1E4E5;
  --main-white: #e1e1e1;
  --main-black: #111;
}

a {
  font-size: 1.1em;
}

a:hover {
  text-decoration: none;
}

body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  padding: 4rem 1rem 3rem;
  color: var(--main-dark-gray);
  background-color: var(--main-background);
}

button {
  color: white;
  padding: 2rem 0 !important;
}

button:focus {
  outline: 0 !important;
}

.content-page button {
  padding: 1rem 0 !important;
  color: white !important
}

figcaption {
  font-style: italic;
  font-size: .9rem;
  text-align: center;
  padding: 1rem;
}

figure {
  margin: 2rem auto;
  padding: 0;
}

img {
  display: block;
  margin: auto;
  max-height: 60vh;
  width: auto;
  width: 100%;
}

.d-light {
  display: initial;
}

.d-dark {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  padding: 1rem 0;
}

.content-page header {
  height: 10rem !important;
  background: #263238;
  position: relative;
  top: 0;
  left: 0;
  margin: 0 !important
}

input {
  background: transparent;
  border: none;
  width: 100%;
}

input:focus {
  outline: none;
}

.fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

::-webkit-scrollbar {
  width: 0;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */

::-webkit-scrollbar-thumb {
  background: #FF0000
}

* {
  transition: 0.2s ease
}

/*
OBS: O LOGO DO INSTITUTO FEDERAL NÃO PODE SER UTILIZADO COMO MARCA D'ÁGUA.
.watermark {
  left: 50%;
  opacity: .5;
  position: fixed;
  top: 50%;
  transform: translate(-50%,-50%);
  width: auto;
  z-index: -1
""

}
*/
.start-page .content-wrapper-header{
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size : contain !important;
}

.start-page .numbers .content-wrapper-header {
  background: url("../img/theme_numbers.svg");
}

.start-page .operations .content-wrapper-header {
  background: url("../img/theme_operations.svg");
}

.start-page .scales .content-wrapper-header {
  background: url("../img/theme_scales.svg");
}
.start-page .graphs .content-wrapper-header {
  background: url("../img/theme_graphs.svg");
}
.start-page .quizes .content-wrapper-header {
  background: url("../img/theme_quizes.svg");
}

.numbers .content-background, .numbers header, .numbers button, .numbers .bg-theme {
  color: white;
  background-color: var(--main-red) !important
}

.numbers .content-color,
.content-page.numbers a,
.numbers .color-theme,
.content-page.numbers h3,
.content-page.numbers h4,
.content-page.numbers h5 {
  color: var(--main-red) !important
}

.operations .content-background, .operations header, .operations button, .operations .bg-theme {
  color: white;
  background-color: var(--main-pink) !important
}
.operations .content-color,
.content-page.operations a,
.operations .color-theme,
.content-page.operations h3,
.content-page.operations h4,
.content-page.operations h5 {
  color: var(--main-pink) !important
}

.geometry .content-background, .geometry button, .geometry .bg-theme {
  color: white;
  background-color: var(--main-deep-purple) !important
}
.geometry .cube {
  -webkit-transform-style: preserve-3d;
  -webkit-animation: spin 3s infinite ease-out;
  position: relative;
  width: 4rem;
  height: 4rem;
  top: 4rem;
  left: 50%;
  margin-left: -2rem;
  margin-top: -2rem;
}

.geometry .cube div {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  box-shadow: inset 0 0 0 .1rem rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0);
  display: block;
  position: absolute;
}

.geometry .cube div.top {
  -webkit-transform: rotateX(90deg);
  margin-top: 2rem;
}

.geometry .cube div.right {
  -webkit-transform: rotateY(90deg);
  margin-left: 2rem;
}

.geometry .cube div.bottom {
  -webkit-transform: rotateX(-90deg);
  margin-top: 2rem;
}

.geometry .cube div.left {
  -webkit-transform: rotateY(-90deg);
  margin-left: -2rem;
}

.geometry .cube div.front {
  -webkit-transform: translateZ(2rem);
}

.geometry .cube div.back {
  -webkit-transform: translateZ(-2rem) rotateX(180deg);
}

@-webkit-keyframes spin {
  0% {-webkit-transform: rotateX(-20deg) rotateY(20deg);}
  100% {-webkit-transform: rotateX(-20deg) rotateY(740deg);}
}

.geometry .content-color,
.content-page.geometry a,
.content-page.geometry h3,
.content-page.geometry h4,
.content-page.geometry h5 {
  color: var(--main-deep-purple) !important
}

.scales .content-background, .scales header {
  background-color: var(--main-indigo) !important
}

.scales .content-color, .content-page.scales a,
.content-page.scales h3,
.content-page.scales h4,
.content-page.scales h5 {
  color: var(--main-indigo) !important
}

.graphs .content-background, .graphs header {
  background-color: var(--main-light-blue) !important
}

.graphs .content-color, .content-page.graphs a,
.content-page.graphs h3,
.content-page.graphs h4,
.content-page.graphs h5 {
  color: var(--main-light-blue) !important
}

.quizes .content-background, .quizes header {
  background-color: var(--main-green) !important
}

.quizes .content-color,
.content-page.quizes a,
.content-page.quizes h3,
.content-page.quizes h4,
.content-page.quizes h5 {
  color: var(--main-green) !important
}

.about .content-background, .about header {
  background-color: var(--main-amber) !important
}

.about .content-color, .about a {
  color: var(--main-amber) !important
}

.header {
  font-family: 'Lato', sans-serif, bold;
  font-weight: bold;
  font-size: 2rem;
  overflow: hidden;
  height: 6rem
}

.header-hidden {
  height: 0
}

.search-form {
  display: flex;
  align-items: center;
  padding: .25rem 0;
  margin: 1rem 0;
  border-radius: 2rem;
  background-color: #D6D9DA
}

.search-form a {
  color: var(--main-dark-gray)
}

.search-form i {
  padding: 0 1rem
}

#search-demo {
  display: none
}

.search-result:last-child {
  border-bottom: none;
  margin-bottom: none
}

.search-result {
  padding: 0 1rem;
  height: 4rem;
  margin: auto 0;
  display: flex;
  border-bottom: .25rem solid #c8c8c8;
  margin-bottom: .6rem
}

.search-result .info {
  margin-left: 1rem
}

.search-result .theme {
  color: var(--main-dark-gray);
  font-weight: bold
}

.search-result .name {
  color: var(--main-light-gray);
  font-size: 0.9rem
}

.content-icon {
  margin: auto 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: red
}

.clear-input {
  opacity: 0;
  transition: 0.1s ease
}

.clear-button {
  background: none!important;
  color: var(--main-black);
  border: none;
  padding: 0!important
}

.show-clear {
  opacity: 1 !important;
  transition: 0.1s ease
}

.contents {
  height: 100%;
  font-size: 1.1rem
}

.contents, .contents a {
  color: white
}

.contents-hidden {
  opacity: 0;
  height: 0;
  overflow: hidden
}

.content {
  position: relative;
  border-radius: .6rem;
  overflow: hidden;
  margin-bottom: 1rem
}

.content-page .content {
  border-radius: 0
}

a.trigger {
  width: 100%
}

.content-background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.content-wrapper {
  padding: 0 1rem 0 1rem;
}

.expanded-items li{
  padding-left: 2rem !important;
}
.content-wrapper-header {
  padding-bottom: 1rem;
  height: 10rem !important;
  width: 100%;
  display: flex;
  -webkit-animation: 4s ease;
  animation: 4s ease
}

.content ul {
  list-style-type: none;
  padding: 0
}

.content ul a {
  display: flex
}

.content ul a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 0.8em;
  margin-left: auto;
  content: "\f105"
}

.trigger {
  margin-top: auto;
  display: inline-flex;
  align-items: center
}

.trigger i {

  /*
  position: absolute;
  margin-left: -2.2rem
*/

  margin-right: 1rem;
}
.trigger .rotated {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.content-page {
  text-align: justify !important
}

.content-page .card button {
  margin: .5rem 0;
}

.card {
  margin: 1rem 0;
}

.card-header, .card-bod {
  padding: 0;
  margin: 0;
}

.picture {
  display: block;
  margin: .3rem auto
}

.canvas-opcao {
  box-shadow: inset 0 0 0 .25rem white, inset 0 0 0 .3rem #ccc;
  box-sizing: border-box
}

.canvasPrincipal {
  margin-left: auto;
  margin-right: auto
}

.fundo {
  align-items: center;
  background-color: var(--main-white);
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.expanded-items a {
  padding: 1rem 0;
  font-size: inherit
}

/*Content*/

.content-page {
  padding: 0;
  line-height: 2rem
}

.content-page h1.title, h2.subtitle {
  padding: 0 !important;
  text-align: left;
  word-wrap: break-word
}

h5.title {
  padding: 0 !important;
  margin: 0 !important
}

.content-page .heading {
  position: relative;
  padding: 1rem
}

.content-page h1 {
  font-size: 2rem
}

.content-page h2 {
  font-size: 1.6rem
}

.content-page h3 {
  font-size: 1.5rem
}

.content-page h4 {
  font-size: 1.25rem
}

.content-page h5 {
  font-size: 1.1rem
}

.content-page h5 {
  font-size: 1rem
}

.content-page .col {
  margin: 0;
  padding: 0
}

.content-page .float-right {
  position: relative
}

.content-page #fav-action {
  position: relative;
  top: 35%;
}

.content-page #fav-action:hover {
  cursor: pointer;
}

.content-page p {
  text-indent: 1rem;
}

.list-group {
  border-radius: 0;
}

.list-group-item {
  text-indent: 0;
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-color: var(--main-light-gray);
}

ul.styled-list li {
  list-style-type: circle !important;
}

.bg-warning {
  color: black !important;
}

