 @charset "utf-8";
/* CSS Document */

body {
    background-color: black;
}

/*Testing purposes */
canvas{
    border: 1px solid black;
}
body,h1 {
    color: #f9f9f9;
}

.nightshift{
    filter: invert(100);
}

.card, .list-group-item, table, tr{
    background-color: #1d2124;
    border-color: #333
}

.list-group-item:hover{
    background-color: #222
}